<div class="row">
    <div class="col-xxl-12">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/#/pages/dashboard">Home</a></li>
                <li class="breadcrumb-item"><a href="/#/pages/usuarios">Usuarios</a></li>
                <li class="breadcrumb-item active" aria-current="page">Editar Usuario</li>
            </ol>
        </nav>
        <nb-card>
            <nb-card-header>Usuario: Mark Otto</nb-card-header>
            <nb-card-body>
                <h3 class="mb-5">Actualizar Datos de Usuario</h3>
                <div class="row">
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="nombre">Nombre:</label>
                            <input type="text" id="nombre" class="form-control" value="Mario">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="apellido">Apellido:</label>
                            <input type="text" id="apellido" class="form-control" value="Alexio">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="telMovil">Teléfono Móvil:</label>
                            <input type="tel" id="telMovil" class="form-control" value="123.45.67.89">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="telFijo">Teléfono Fijo:</label>
                            <input type="tel" id="telFijo" class="form-control" value="123.45.67.89">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="correoActual">Correo Actual:</label>
                            <input type="email" id="correoActual" class="form-control" value="mark@domain.com">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="RUT">RUT:</label>
                            <input type="text" id="RUT" class="form-control" value="12.678.579-8">
                        </div>
                    </div>
                    <div class="col-6 mb-3">
                        <div class="form-group">
                            <label class="form-control-label" for="inputGroupSelect01">Perfil Actual:</label>
                            <select class="form-control" id="inputGroupSelect01">
                                <option selected>Usuario</option>
                                <option value="1">Administrador</option>
                            </select>
                        </div>
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer>
                <a class="btn btn-primary mb-3" href="/#/pages/usuarios/">
                    <i class="fas fa-save"></i> Guardar cambios
                </a>
            </nb-card-footer>
        </nb-card>
    </div>
</div>