<div class="row">
  <div class="col-xxl-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/#/pages/dashboard">Home</a></li>
        <li class="breadcrumb-item"><a href="/#/pages/perfil">Perfil</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modificar Contraseña</li>
      </ol>
    </nav>
    <nb-card>
      <nb-card-header>Mi Perfil</nb-card-header>
      <nb-card-body>
        <h3 class="mb-5">Modificar Contraseña</h3>
        <div class="row">
          <div class="col-4 mb-3">
            <div class="form-group">
              <label class="form-control-label">Contraseña Actual:</label>
              <input type="password" class="form-control">
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-group">
              <label class="form-control-label">Nueva Contraseña:</label>
              <input type="password" class="form-control">
              <p>Debe tener 6-10 caracteres.</p>
            </div>
          </div>
          <div class="col-4 mb-3">
            <div class="form-group">
              <label class="form-control-label">Confirmar Nueva Contraseña:</label>
              <input type="password" class="form-control">
            </div>
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <a class="btn btn-primary mb-3" href="/#/pages/perfil"><i class="far fa-save"></i> Guardar Contraseña</a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>