<div class="row">
  <div class="col-xxl-12">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/#/pages/dashboard">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
      </ol>
    </nav>
    <nb-card>
      <nb-card-header>Mi Perfil</nb-card-header>
      <nb-card-body>
        <h3 class="mb-5">Datos Personales</h3>
        <div class="row">
          <div class="col-4 mb-3"><b>Nombre:</b> Mario</div>
          <div class="col-4 mb-3"><b>Apellido:</b> Alexio</div>
          <div class="col-4 mb-3"><b>RUT:</b> 12.678.579-8</div>
          <div class="col-4 mb-3"><b>Teléfono Móvil:</b> 123.45.67.89</div>
          <div class="col-4 mb-3"><b>Teléfono Fijo:</b> 123.45.67.89</div>
          <div class="col-4 mb-3"><b>Perfil Actual:</b> Admin</div>
          <div class="col-4 mb-3"><b>Correo Actual:</b> user@domain.com</div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <a class="btn btn-success mb-3 mr-3" href="/#/pages/contraseña"><i class="fas fa-key"></i> Modificar Contraseña</a>
        <a class="btn btn-primary mb-3" href="/#/pages/actualizarperfil"><i class="far fa-save"></i> Actualizar Perfil</a>
        <a class="btn btn-success mb-3 float-right" href="/#/pages/usuarios/nuevo"><i class="far fa-user"></i> Crear nuevo usuario</a>
      </nb-card-footer>
    </nb-card>
  </div>
</div>